* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-box: rgb(2,13,20);
    --background-btn: #3E0F64;
    --purple-medium-3: #5C218A;
    --backbround: #FBFAFB;
    --input-bg: #EEEAF2;
    --title-color: #2A0646;
    --title2-color: #3E0F64;
    --title-weight: 800;
    --title-size: 24px;
    --title-font: 'Dosis', sans-serif;
    --title-line-leight: 30.34px;
    --text-font: 'Red Hat Display', sans-serif;
    --text-weight: 400;
    --font-weight-title2: 700;
    --font-size-btn: 1.3rem;

    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;
  
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
  
}
html {
    background-color: var(--purple-medium-3);
    font-size: 10px;
}
body {
    background-color: var(--backbround);
}
header {
    padding: 5rem 2rem 0 2rem;
    position: relative;
}
.header-div {
    position: relative;
}
h1, h2 {
    font-family: var(--title-font);
    font-size: var(--title-size);
    color: var(--title-color);
    line-height: var(--title-line-leight);
}
header form {
    margin-top: 1rem;
    display: flex;
}
header form input   {
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    border: none;
    background-color: var(--input-bg);
    height: 4rem;
    width: 100%;
}
button {
    background-color: var(--background-btn);
    border: none;
    border-radius: .8rem;
    width: 8rem;
    height: 3rem;
    color: var(--backbround);
    font-size: var(--font-size-btn);
    cursor: pointer;
}
header form button {
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 4rem;
    height: 4rem;
}
.trending-container {
    padding:  5rem 2rem;
}
.trending-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5rem;
}
.trending-movies {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.similar-div--container {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.header2 {
    padding: 5rem 0 0 2rem;
    display: flex;
    row-gap: 2rem;
}
.category-movies {
    padding: 5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.search-movie {
    padding: 5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
article img {
    width: 15rem;
    height: 22.5rem;
    object-fit: cover;
    border-radius: .8rem;
}
.categories-container {
    padding: 0 2rem 5rem 2rem;
}
.categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-top: 2rem;
}
.categories-list--details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-top: 2rem;
}
.categories-list--details a {
    text-decoration: none;
    color: var(--title-color);
    font-family: var(--text-font);
    font-size: 1.8rem;
    font-weight: var(--text-weight);  
    cursor: pointer;  
}
.categories-list--details a:before {
    content: '***';
    color: transparent;
    background-color: var(--idColor);
    border-radius: .8rem;
    margin-right: 1rem;
}
.categories-list a {
    text-decoration: none;
    color: var(--title-color);
    font-family: var(--text-font);
    font-size: 1.8rem;
    font-weight: var(--text-weight);  
    cursor: pointer;  
}
.categories-list a:before {
    content: '***';
    color: transparent;
    background-color: var(--idColor);
    border-radius: .8rem;
    margin-right: 1rem;
}
#id28 { --idColor: var(--yellow); }
#id12 { --idColor: var(--red); }
#id16 { --idColor: var(--green); }
#id35 { --idColor: var(--lightBlue); }
#id80 { --idColor: var(--darkBlue); }
#id99 { --idColor: var(--purple-dark-1); }
#id18 { --idColor: var(--purple-medium-1); }
#id10751 { --idColor: var(--yellow); }
#id14 { --idColor: var(--red); }
#id36 { --idColor: var(--green); }
#id27 { --idColor: var(--lightBlue); }
#id10402 { --idColor: var(--darkBlue); }
#id9648 { --idColor: var(--purple-dark-1); }
#id10749 { --idColor: var(--purple-medium-1); }
#id878 { --idColor: var(--yellow); }
#id10770 { --idColor: var(--red); }
#id53 { --idColor: var(--green); }
#id10752 { --idColor: var(--lightBlue); }
#id37 { --idColor: var(--darkBlue); }
.header2 {
    display: flex;
    flex-direction: column;
}
.header2-title::before {
    content: '***';
    color: transparent;
    background-color: var(--idColor);
    border-radius: .8rem;
    margin-right: 1rem;
}
.header2-div--img {
    position: relative;
    width: 4rem;
    cursor: pointer;
    z-index: 2;
}
.header2-img {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: white;
    border-radius: 50%;
}
.movie-details {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.div-img--back {
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}
.div-cont {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #F8F6F9;
    border-radius: .8rem;
    padding: 2rem 2rem;
    margin-top: 400px;
    row-gap: 2rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    opacity: .8;
}
.similar-div--titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.similar-div--titles h2 {
    font-size: 3rem;
}
.similar-rep {
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
}
.similar-rep:before {
    content: '⭐';
}
.similar-description {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: var(--text-font);
    z-index: 2;
}
.trending-movies--loading {
    width: 150px;
    height: 225px;
    background-color: rgb(153, 153, 153);
    border-radius: .8rem;
    animation: loading-skeleton infinite 1.5s;
}

.categories-list--loading {
    width: 150px;
    height: 20px;
    background-color: rgb(153, 153, 153);
    border-radius: .8rem;
    animation: loading-skeleton infinite 1.5s;
}
.categories-list--loading:nth-child(2) {
    animation-delay: .2s;
}
.categories-list--loading:nth-child(3) {
    animation-delay: .4s;
}
.category-movies--loading {
    width: 150px;
    height: 225px;
    background-color: rgb(153, 153, 153);
    border-radius: .8rem;
    animation: loading-skeleton infinite 1.5s;
}
.trending-movies--loading:nth-child(2),.category-movies--loading:nth-child(2) {
    animation-delay: .2s;
}
.trending-movies--loading:nth-child(3),.category-movies--loading:nth-child(3) {
    animation-delay: .4s;
}
@keyframes loading-skeleton {
    0% , 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}
.trending-pages--container {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.trending-pages {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.error {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    font-family: var(--title-font);
}

.inactive { 
    display: none;
}
